.withPopWindow_container{
    display: inline-block;
    position: relative;
    .border{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        // width: 100%;
        // height: 100%;
        border: 2px solid red;
    }
    .pop_window_container{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        transform: translateX(120%);
        background-color: royalblue;
        padding: 8px;
        &::before{
            content: '';
            position: absolute;
            left: -15px;
            top: 50%;
            transform: translateY(-50%);
            border-right: 8px solid royalblue;
            border-left: 8px solid transparent;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
        }
    }
}